header {
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: #6ab04c;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #6ab04c;
    padding: 10px;
    position:relative;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.dot {
    height: 70px;
    width: 70px;
    display: inline-block;
    text-align: center;
  }

.button {
    background-color: #fffa65;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}