header {
    display: flex;
    justify-content: space-evenly;
}
body {
    background-color: green;
}
.grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: auto auto auto auto auto;
    background-color: green;
    padding: 10px;
    position:relative;
}
.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.dot {
    height: 70px;
    width: 70px;
    display: inline-block;
    text-align: center;
  }

.correct-dot{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: green;
}

.incorrect-dot{    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: red;
}